<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Star Wars Planets
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    <ion-searchbar mode="ios" 
                   placeholder="Search Planets..."
                   animated="true"
                   [(ngModel)]="searchText"
                   (ionChange)="search()"
                   ></ion-searchbar>
    <ion-item *ngFor="let planet of planets" 
              detail
              lines="full"
              (click)="displayPlanet(planet)">
      <ion-item-group>
        <ion-label>{{ planet.name }}</ion-label>
        <ion-note *ngIf="isNumber(planet.population)">{{ planet.population | number }}</ion-note>
        <ion-note *ngIf="!isNumber(planet.population)">{{ planet.population }}</ion-note>
      </ion-item-group>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="!isSearch" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more planets...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-infinite-scroll *ngIf="isSearch && nextUrl" threshold="100px" (ionInfinite)="loadMoreSearch($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more planets...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
