<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Star Wars Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Episode {{ data?.episode_id }}:</h1>
  <h1>{{ data?.title }}</h1>
  <ion-list lines="full">
    <ion-item-group>
      <ion-item-divider mode="ios">
        <ion-label>Movie Information</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>Director:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="primary"  text-wrap><strong>{{ data?.director }}</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>    
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>Producer:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="primary"  text-wrap><strong>{{ data?.producer }}</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>Released:</ion-label>
          </ion-col>
          <ion-col text-wrap>
            <ion-label color="primary"><strong>{{ data?.release_date | date: 'MMM d, y' }}</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="presentCrawlModal()" detail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>View the Opening Crawl</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="characters">
      <ion-item-divider mode="ios">
        <ion-label>Characters</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let char of characters" 
                (click)="navToElementPage(char?.name, '/character')" 
                detail>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{ char?.name }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="planets">
      <ion-item-divider mode="ios">
        <ion-label>Planets</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let planet of planets"
                (click)="navToElementPage(planet?.name, '/planet')" 
                detail>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{ planet?.name }}</ion-label>
              <ion-note *ngIf="isNumber(planet?.population)">{{ planet?.population | number }}</ion-note>
              <ion-note *ngIf="!isNumber(planet?.population)">{{ planet?.population }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="starships">
      <ion-item-divider mode="ios">
        <ion-label>Starships</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let ship of starships" 
                (click)="navToElementPage(ship?.name, '/starship')" 
                detail>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{ ship?.name }}</ion-label>
                <ion-note>{{ ship?.starship_class }}</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="vehicles">
      <ion-item-divider mode="ios">
        <ion-label *ngIf="vehicles">Vehicles</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let vehicle of vehicles"
                (click)="navToElementPage(vehicle?.name, '/vehicle')" 
                detail>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{ vehicle?.name }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="species">
      <ion-item-divider mode="ios">
        <ion-label>Species</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let spec of species"
                (click)="navToElementPage(spec?.name, '/species')" detail>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{ spec?.name }}</ion-label>
                <ion-note>{{ spec?.classification }}</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

  