<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Star Wars Species
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-searchbar mode="ios" 
                     placeholder="Search Species..."
                     animated="true"
                     debounce="500"
                     [(ngModel)]="searchText"
                     (ionChange)="search()"
                     ></ion-searchbar>
    <ion-item *ngFor="let spec of species" 
              detail
              lines="full"
              (click)="displaySpecies(spec)">
      <ion-item-group>
        <ion-label>{{ spec.name }}</ion-label>
        <ion-note>{{ spec.classification }}</ion-note>
      </ion-item-group>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="!isSearch" 
                       threshold="100px"
                       id="ion-scroll"
                       (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more species...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-infinite-scroll *ngIf="isSearch && getHasNext()" 
                       threshold="100px" 
                       (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more species...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
     
</ion-content>
