<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img src="/assets/sw-films.jpeg" alt="Star Wars films link" height="200px"/>
    </ion-row> 
    <ion-row>
      <img src="/assets/sw-people.jpeg" alt="Star Wars people link" height="200px" />
    </ion-row>
    <ion-row>
      <img src="/assets/sw-planets.jpg" alt="Star Wars planets link" height="200px" />
    </ion-row>
    <ion-row>
      <img src="/assets/sw-ships.jpg" alt="Star Wars ships link" height="200px" />
    </ion-row>
    <ion-row>
      <img src="/assets/sw-species.jpg" alt="Star Wars species link" height="200px" />
    </ion-row>
    <ion-row>
      <img src="/assets/sw-vehicles.jpg" alt="Star Wars vehicles link" heigh="200px" />
    </ion-row>
  </ion-grid>
</ion-content>
